@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.marketplace.filter.container {
  border-right: 1px solid colors.$gray-200;
  height: 100%;

  &[data-open="false"] {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &[data-open="true"] {
    @media (max-width: 1024px) {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 375px;
      height: 100%;
      z-index: 9999;
      background: colors.$base-white;
      padding: 24px 16px;
      box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);

      .filter.inner {
        overflow-y: visible;
        padding: 0;
        position: relative;
        top: auto;
        max-height: none;

        .filters.list {
          overflow-y: auto;
          margin-bottom: 24px;
          height: calc(100vh - 246px);

          @media (max-width: 767px) {
            height: calc(100vh - 318px);
          }
        }

        .ui.primary.button {
          width: 100%;
        }
      }
    }

    @media (max-width: 767px) {
      top: var(--header-height);
      right: auto;
      left: 0;
      width: 100%;
      height: calc(100vh - var(--header-height));
      z-index: 99;
      box-shadow: none;
    }
  }

  .filter.inner {
    padding-right: 16px;
    position: sticky;
    top: var(--header-height);
    overflow-y: auto;
    max-height: calc(100vh - var(--header-height));

    .filter.heading {
      @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
      }

      h2 {
        @include styles.text-xl;
        @include weights.semibold;
      }

      .button {
        display: none;
        padding: 4px;

        svg {
          aspect-ratio: 1/1;
          color: colors.$gray-700;
        }

        @media (max-width: 1024px) {
          display: block;
        }
      }
    }

    .input.container {
      margin-top: 24px;
      border: 1px solid colors.$gray-300;
      border-radius: 8px;
      display: flex;
      gap: 8px;
      color: colors.$gray-500;
      padding: 10px 14px;

      &:focus-within {
        box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$primary-100;
      }

      input {
        outline: none;
        @include styles.text-md;
        color: colors.$gray-500;
        width: 100%;
      }

      svg {
        height: 20px;
        aspect-ratio: 1 / 1;
      }
    }

    .clear.button {
      padding: 4px 8px;
      border-radius: 6px;
      border: 1px solid colors.$gray-300;
      width: max-content;
      margin-top: 12px;
      margin-right: auto;
      box-shadow: none;
      background-color: transparent;
      color: colors.$gray-700;
      @include styles.text-sm;
      @include weights.regular;
      outline: none;

      &:focus,
      &:active {
        box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$gray-100;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    .selected.filters {
      margin-top: 12px;
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;

      button.filter {
        border-radius: 6px;
        border: 1px solid colors.$gray-300;
        padding: 4px 4px 4px 10px;
        display: flex;
        gap: 6px;
        align-items: center;
      }
    }

    .filters.list {
      margin-top: 24px;

      .container {
        button {
          outline: none;
          width: 100%;
          padding: 8px 12px;
          display: flex;
          justify-content: space-between;
          gap: 8px;
          border-radius: 6px;

          &:focus,
          &:active {
            box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$primary-100;
          }

          .name {
            @include styles.text-md;
            @include weights.semibold;
            color: colors.$gray-700;

            .selected {
              color: colors.$primary-700;
            }
          }

          .count {
            padding: 2px 8px;
            margin-left: auto;
            @include styles.text-xs;
            @include weights.medium;
            background-color: colors.$gray-100;
            border-radius: 16px;
            color: colors.$gray-700;
          }

          svg {
            height: 20px;
            aspect-ratio: 1 / 1;
            color: colors.$gray-500;
          }
        }

        .options {
          margin-top: 8px;
          overflow: hidden;
          visibility: hidden;
          max-height: 0;
          transition: all 0.25s;

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              padding: 8px 12px;
              border-radius: 6px;
              display: flex;
              gap: 12px;
              align-items: flex-start;

              &:hover {
                background-color: colors.$gray-50;
              }

              label {
                @include styles.text-md;
                @include weights.semibold;
                color: colors.$gray-700;
                cursor: pointer;

                &[aria-disabled="true"] {
                  cursor: not-allowed;
                  opacity: 0.5;
                }
              }
            }
          }

          div.wrapper {
            padding: 8px 12px;

            .clear.button {
              margin-top: 0;
              box-shadow: none;
              background-color: transparent;
              width: max-content;
              padding: 4px 8px;
            }
          }
        }

        &.active {
          button {
            background-color: colors.$gray-50;
            box-shadow: 0px 0px 0px 4px colors.$gray-100;

            .name {
              color: colors.$gray-900;
            }

            svg {
              transform: rotate(180deg);
            }
          }

          .options {
            visibility: visible;
            max-height: inherit;
            max-height: 5000px;
          }
        }

        &:not(:first-of-type) {
          margin-top: 4px;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    width: 250px;
  }

  @media (min-width: 1024px) {
    width: 320px;
  }
}

.dark .marketplace.filter.container {
  border-right: 1px solid colors.$gray-800;

  @media (max-width: 1024px) {
    &[data-open="true"] {
      background: colors.$black;
    }
  }

  .filter.inner {
    .filter.heading {
      .button {
        svg {
          color: colors.$gray-100;
        }
      }
    }

    .input.container {
      border: 1px solid colors.$gray-800;
      background-color: dark.$primary-background-color;
      color: colors.$gray-25;

      &:focus-within {
        box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$primary-100;
      }
    }

    .filters.list {
      .container {
        button {
          .name {
            color: colors.$base-white;

            .selected {
              color: colors.$primary-500;
            }
          }

          .count {
            background-color: colors.$gray-100;
            color: colors.$gray-900;
          }

          svg {
            color: colors.$gray-400;
          }
        }

        .options {
          ul {
            li {
              &:hover {
                background-color: colors.$gray-900;
              }

              label {
                color: colors.$base-white;
              }
            }
          }
        }

        &.active {
          button {
            background-color: colors.$gray-800;
            box-shadow: 0px 0px 0px 4px #1c2842;
          }
        }
      }
    }

    .clear.button {
      border: 1px solid colors.$gray-700;
      color: colors.$base-white;

      &:focus,
      &:active {
        box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$gray-700;
      }
    }

    .selected.filters button.filter {
      border-color: colors.$gray-500;
      color: colors.$gray-300;
    }
  }
}