@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.nft.marketplace.hero.container {
  .full.width.container {
    padding: 56px 32px 96px;
    @media (max-width: 767px) {
      padding: 46px 16px 64px;
    }
    > .content {
      @media (max-width: 767px) {
        gap: 32px;
      }
    }
  }
  .heading.and.supporting.text {
    @media (min-width: 767px) {
      max-width: 480px;
    }

    .heading.and.subheading {
      .sub.heading {
        .button {
          display: inline-flex;
          padding-left: 0;
          padding-right: 0;
          color: colors.$primary-700;
        }
      }
    }
  }
  .supporting.text {
    .sub.title {
      color: light.$secondary-color;
      @include styles.text-xl;
      @media (max-width: 767px) {
        @include styles.text-lg;
      }
    }
  }
  .actions {
    @media (max-width: 767px) {
      flex-direction: column;
      .button {
        padding: 12px 20px;
      }
    }
  }
}

.dark .nft.marketplace.hero.container {
  .heading.and.supporting.text {
    .heading.and.subheading {
      .sub.heading {
        .button {
          color: colors.$primary-300;
        }
      }
    }
  }
  .supporting.text {
    .sub.title {
      color: dark.$secondary-color;
    }
  }
}
