@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.marketplace.search.container {
  background-color: colors.$base-white;
  padding: 96px 0;

  @media (max-width: 1024px) {
    padding-top: 40px;
  }

  .inner.container {
    @include utils.full-width-container;
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto 1fr;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }

    .filter.overlay {
      display: none;

      &[data-open="true"] {
        @media (min-width: 768px) and (max-width: 1024px) {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.4);
          z-index: 999;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .filter.marketplace {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 16px;

        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }

        .filter.dialog.wrapper {
          position: relative;
          height: 100%;

          .filter.count {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: colors.$error-500;
            color: colors.$base-white;
            padding: 3px 8px;
            border-radius: 50%;
            @include styles.text-xs;
          }

          @media (max-width: 768px) {
            height: unset;
          }

          .filter.dialog {
            display: none;
            position: absolute;
            z-index: 900;
            top: calc(100% + 8px);
            right: 0;
            width: 230px;
            padding: 10px 6px;
            box-shadow: shadows.$xl;
            background-color: colors.$base-white;
            border: 1px solid colors.$gray-300;
            border-radius: 8px;

            @media (max-width: 768px) {
              position: fixed;
              top: var(--header-height);
              left: 0;
              right: 0;
              bottom: 0;
              width: unset;
              overflow: auto;
              border-radius: 0;
              padding: 24px 16px;
            }

            .filter.title.mobile {
              display: none;

              @media (max-width: 768px) {
                display: flex;
                justify-content: space-between;
                gap: 8px;
                color: colors.$gray-900;
                @include styles.text-lg;
                @include weights.semibold;
                margin-bottom: 16px;
              }
            }

            .label {
              margin-bottom: 4px;
              @include styles.text-md;
              @include weights.medium;
              color: colors.$gray-500;
            }

            &.open {
              display: flex;
              flex-direction: column;
            }
          }
        }

        .filter.buttons {
          display: flex;
          align-items: center;
          gap: 6px;
          height: 100%;

          @media (max-width: 767px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }

          button.ui {
            height: 100%;
            width: 100%;
            background-color: colors.$base-white;
            outline: none;

            &:focus,
            &:active {
              box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$primary-100;
            }
          }
        }

        input.search {
          padding: 10px 14px;
          @include styles.text-md;
          @include weights.regular;
          border-radius: 8px;
          border: 1px solid colors.$gray-300;
          width: 100%;
          outline: none;
          min-width: 100px;

          &:focus {
            box-shadow: shadows.$xs, 0px 0px 0px 3px colors.$primary-100;
          }
        }

        .filter.button {
          display: none;

          @media (max-width: 1024px) {
            display: flex;
          }
        }
      }

      .nft.grid {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 26px;

        @media (max-width: 767px) {
          margin-top: 32px;
          row-gap: 32px;
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 425px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .noresult.found {
        height: 364px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        padding: 16px;

        @media (max-width: 767px) {
          height: 275px;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 312px;
          margin-left: -156px;

          @media (max-width: 767px) {
            width: 200px;
            margin-left: -100px;
          }
        }

        &::before {
          top: -32px;
          height: 166px;
          background: url("/assets/images/marketplace/upper-symbol.webp")
            no-repeat center top;
          background-size: 100%;

          @media (max-width: 767px) {
            top: -20px;
            height: 108px;
          }
        }

        &::after {
          top: auto;
          bottom: -42px;
          height: 194px;
          background: url("/assets/images/marketplace/lower-symbol.webp")
            no-repeat center top;
          background-size: 100%;

          @media (max-width: 767px) {
            height: 125px;
            bottom: -25px;
          }
        }

        .content {
          display: flex;
          flex-direction: column;

          h2 {
            @include styles.text-xl;
            @include weights.semibold;
          }

          p {
            @include styles.text-md;
            @include weights.regular;
          }
        }
      }
    }
  }
}

.dark .marketplace.search.container {
  background-color: colors.$black;

  .inner.container {
    .filter.overlay {
      &[data-open="true"] {
        @media (min-width: 768px) and (max-width: 1024px) {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }

    .right {
      .filter.marketplace {
        input.search {
          border-color: colors.$gray-700;
          background-color: dark.$primary-background-color;
        }

        .filter.dialog.wrapper {
          .filter.dialog {
            background-color: colors.$black-800;
            border: 1px solid colors.$gray-800;

            .filter.title.mobile {
              @media (max-width: 768px) {
                color: colors.$base-white;
              }
            }

            .label {
              margin-bottom: 4px;
              @include styles.text-md;
              @include weights.medium;
              color: colors.$gray-200;
            }
          }
        }

        .filter.buttons {
          button {
            border-color: colors.$gray-700;
            background-color: dark.$primary-background-color;
          }
        }

        .filter.button {
          span {
            color: colors.$gray-100;
          }

          svg {
            color: colors.$gray-100;
          }
        }
      }

      .noresult.found {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
