.lock.status.and.levels {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    justify-content: center;
  }

  .lock.icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$primary-200;
    border-radius: 50%;
    color: colors.$primary-700;
  }

  .separator {
    height: 1px !important;
    width: 14px !important;
    background-color: transparent !important;
    border-top: 1px dashed colors.$gray-400;
  }
}
