@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";

.persona.selection {
  padding: 16px;
  border-radius: 12px;
  box-shadow: shadows.$xl;
  background-color: colors.$base-white;
  border: 1px solid colors.$gray-200;
  width: 100%;

  &.embedded {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    width: 224px;
    outline: none;
  }

  @media (min-width: 768px) {
    &.selected {
      background-color: colors.$primary-100;
      border: 1px solid colors.$primary-600;
    }
  }

  .tag {
    white-space: nowrap;
  }

  &.embedded {
    .lock.status.and.levels {
      justify-content: center;

      .lock.icon {
        display: none;
      }

      .separator.first {
        display: none;
      }
    }
  }

  .mobile.view.more {
    display: none;
    justify-content: center;
    margin-bottom: -12px;

    @media (max-width: 767px) {
      display: flex;
    }

    &.expanded {
      i {
        transform: scaleY(-1);
      }
    }
  }

  .mobile.details {
    display: none;

    @media (max-width: 767px) {
      display: block;

      .guardian.beast.selection {
        padding: 0;
      }

      .levels,
      .options,
      .cta {
        display: none !important;
      }

      .nft.name,
      .nft.title,
      .nft.description {
        text-align: left;
      }

      .nft.description {
        margin-bottom: 0 !important;
      }

      .nft.image.with.expand {
        border-radius: 8px;
      }

      .fullscreen.icon {
        top: 8px !important;
        right: 8px !important;
      }
    }
  }

  .current.selection {
    height: 116px;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    &.no.selection {
      @include styles.text-md;
      background-color: colors.$gray-100;
    }

    .content {
      &::before {
        content: "";
        z-index: -1;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.guardian::before {
        background-image: url("../../../public/assets/images/persona/persona-guardian.jpg");
      }

      &.beast::before {
        background-image: url("../../../public/assets/images/persona/persona-beast.jpg");
      }

      .label {
        @include styles.text-md;
        @include weights.bold;
        margin-bottom: 8px;
        color: colors.$base-white !important;
      }

      .images {
        display: flex;
        justify-content: center;
        gap: 8px;

        img {
          height: 64px;
          width: 64px;
          border-radius: 8px;
        }
      }
    }
  }
}

.dark .persona.selection {
  background-color: colors.$black-800;
  border-color: colors.$gray-800;

  &.embedded {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(12px);
    width: 224px;
    border-color: colors.$gray-200;
  }

  &.selected {
    background-color: colors.$gray-800;
    border-color: colors.$primary-500;
  }

  .current.selection {
    &.no.selection {
      @include styles.text-md;
      background-color: colors.$gray-800;
    }
  }

  .lock.status.and.levels {
    .lock.icon {
      background-color: colors.$gray-600;
      color: colors.$base-white;
    }
  }
}
