@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.persona.set.modal {
  border: none;
  max-height: auto !important;
  padding: 0;
  @media (max-width: 767px) {
    width: calc(100vw - 48px);
  }

  .persona.set.successful {
    background-image: url("../../../public/assets/images/persona/success.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 866px;
    padding: 32px;

    @media (max-width: 767px) {
      width: 100%;
      background-image: url("../../../public/assets/images/persona/success-mobile.webp");
    }

    .nft.collections.logo {
      height: 29px;
      display: block;
      margin: 0 auto;
      margin-bottom: 227px;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .selections {
      display: flex;
      gap: 24px;
      justify-content: center;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .success.text {
      display: none;

      @media (max-width: 767px) {
        display: block;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      @include styles.text-xl;
      @include weights.bold;
      margin-top: 16px;
      margin-bottom: 24px;
      color: colors.$base-white;
    }

    .cta {
      display: flex;
      justify-content: center;

      @media (max-width: 767px) {
        flex-basis: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
