// @use "./inter";
@use "./typography/styles";
@use "./typography/weights";


 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


html,
body {
  height: 100%;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: tabular-nums;
}


@media (min-width: 768px) {
  :root {
    --header-height: 80px;
    scroll-padding-top: 6rem;
  }
}

@media (max-width: 767px) {
  :root {
    --header-height: 72px;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[data-type="external"]:after {
  display: inline-grid;
  content: "";
  height: 14px;
  width: 14px;
  margin: 0 0.2em 0 0.15em;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 9.00001L21 3.00001M21 3.00001H15M21 3.00001L12 12M10 3H7.8C6.11984 3 5.27976 3 4.63803 3.32698C4.07354 3.6146 3.6146 4.07354 3.32698 4.63803C3 5.27976 3 6.11984 3 7.8V16.2C3 17.8802 3 18.7202 3.32698 19.362C3.6146 19.9265 4.07354 20.3854 4.63803 20.673C5.27976 21 6.11984 21 7.8 21H16.2C17.8802 21 18.7202 21 19.362 20.673C19.9265 20.3854 20.3854 19.9265 20.673 19.362C21 18.7202 21 17.8802 21 16.2V14' stroke='%23999999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

svg.icon {
  width: 20px;
  height: 20px;
}

ul,
ol {
  margin-top: 20px;
  padding-left: 20px;
}

[data-text-size],
[data-text-size="md"],
[data-text-size="sm"] {
  @include styles.text-sm;
}

[data-text-size="2xl"],
[data-text-size="xl"],
[data-text-size="lg"] {
  @include styles.text-md;
}

@media (min-width: 768px) {

  [data-text-size],
  [data-text-size="md"],
  [data-text-size="sm"] {
    @include styles.text-sm;
  }

  [data-text-size="2xl"] {
    @include styles.text-lg;
  }

  [data-text-size="xl"],
  [data-text-size="lg"] {
    @include styles.text-md;
  }
}

.initially.hidden, .script.only {
  display: none!important;
}

.locked {
  opacity: 0.4;
  pointer-events: none;
}


i {
  color: inherit;
  display: flex;
}