@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@mixin full-width-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    @media (max-width: 767px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin max-lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

@mixin marquee($start: 100%) {
    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100%));
        }
    }

    .ui.marquee.list {
        position: relative;
        display: flex;
        overflow: hidden;
        user-select: none;

        &:hover .item {
            animation-play-state: paused !important;
        }

        .item {
            animation: scroll 10s linear infinite;
            flex-shrink: 0;
            display: flex;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            padding-left: 0;
        }

        @media (prefers-reduced-motion: reduce) {
            ul.marquee__content {
                animation-play-state: paused !important;
            }
        }

    }
}