@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.proof.modal {
  min-width: 820px;

  h1 {
    @include styles.display-xs;
    @include weights.semibold;
    margin-bottom: 16px;
  }

  .root {
    @include styles.text-md;
    margin-bottom: 4px;
    display: flex;
    gap: 4px;

    .key {
      @include weights.semibold;
    }

    .indicator {
      display: flex;
      gap: 5px;
      align-items: center;
      border-radius: 16px;
      background-color: colors.$error-50;
      color: colors.$error-700;
      padding: 2px 8px;
      @include styles.text-xs;
      @include weights.medium;

      &.match {
        background-color: colors.$success-50;
        color: colors.$success-700;
      }

      .dot {
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: colors.$error-500;

        &.match {
          background-color: colors.$success-500;
        }
      }
    }
  }

  h2 {
    margin-top: 32px;
    @include styles.text-md;
    @include weights.semibold;
    margin-bottom: 8px;
  }

  .merkle-proof {
    background-color: colors.$error-25;
    border: 1px solid colors.$error-300;
    padding: 16px;
    border-radius: 12px;
    @include styles.text-sm;
    color: colors.$error-700;
    margin-bottom: 32px;
  }
}
