@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.connect.wallet.modal {
  width: 397px;

  .connecting.wallet {
    text-align: center;
    padding: 24px 0;

    .connecting.icon {
      margin-bottom: 16px;
    }

    .connector.name {
      margin-bottom: 4px;
      @include styles.text-lg;
      @include weights.semibold;
    }

    .connecting.description {
      @include styles.text-sm;
    }
  }

  .wallet.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: colors.$primary-600;
    background-color: colors.$primary-100;
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 0 0 8px colors.$primary-50;
    margin-bottom: 22px;

    svg {
      height: 24px;
      width: 24px;
    }

    .dark & {
      color: colors.$white;
      background-color: colors.$gray-600;
      box-shadow: 0 0 0 8px colors.$gray-700;
    }
  }

  .DialogDescription {
    margin-top: 4px;
    margin-bottom: 32px;
    color: colors.$gray-600;
    @include styles.text-sm;

    .dark & {
      color: colors.$gray-25;
    }

    a {
      color: colors.$gray-600;
      text-decoration: underline;

      .dark & {
        color: colors.$gray-25;
      }

      &:hover {
        color: colors.$primary-600;
      }
    }
  }

  .ui.secondary.gray.button {
    width: 100%;
    margin-top: 12px;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
    }

    .dark & {
      background-color: colors.$black-800;
      border-color: colors.$gray-800;
      color: colors.$base-white;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 8px;

      .dark & {
        color: colors.$gray-25;
      }
    }

    .light.only {
      display: inline-block;

      .dark & {
        display: none;
      }
    }

    .dark.only {
      display: none;

      .dark & {
        display: inline-block;
      }
    }
  }
}
