@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.share.nft.modal {
  width: 397px;

  .share.btn.group {
    .share.options {
      margin: 46px 0;
    }
  }

  .details {
    display: grid;
    grid-template-columns: 72px 1fr;
    gap: 16px;
    align-items: center;

    img {
      border-radius: 6px;
    }

    .formatted.nickname {
      @include styles.text-sm;
    }

    .family {
      @include styles.text-xl;
      @include weights.semibold;
    }
  }
}
