@use "../design-system/theme/light" as light-theme;
@use "../design-system/theme/dark" as dark-theme;
@use "../design-system/utils";
@use "../design-system/colors";
@import "../design-system/base";
@import "../components/LoaderPopup/LoaderPopup.scss";

.full.width.container {
  @include utils.full-width-container;
}

html {
  scroll-behavior: smooth;
}

html:not(.dark) {
  color-scheme: light-theme.$color-scheme;
  text-rendering: optimizeSpeed;

  body {
    background-color: colors.$base-white;
    color: light-theme.$color;
  }

  a {
    text-decoration: none;
  }
}

html.dark {
  color-scheme: dark-theme.$color-scheme;
  text-rendering: optimizeSpeed;

  body {
    background-color: colors.$black;
    color: colors.$base-white;
  }

  a {
    text-decoration: none;
  }
}

.mobile.only.visible {
  display: none;

  @media (max-width: 767px) {
    display: unset;
  }
}

.desktop.only.visible {
  display: none;

  @media (min-width: 768px) {
    display: unset;
  }
}

.light.only {
  display: flex;

  .dark & {
    display: none;
  }
}

.dark.only {
  display: none;

  .dark & {
    display: flex;
  }
}

.sr-only {
  @include utils.sr-only;
}

:root {
  --header-height: 80px;

  @media (max-width: 767px) {
    --header-height: 72px;
  }
}

main {
  padding-top: var(--header-height);
}

button,
.pointer {
  cursor: pointer;
}

.no.vertical.scroll {
  overflow-y: hidden;
}

.label-hidden {
  display: none;
}

@import "../components/Header/Header.scss";
@import "../components/Header/ThemeSelector.scss";
@import "../components/Header/Navigation.scss";
@import "../components/Header/SubMenu.scss";
@import "../components/Header/Section.scss";
@import "../components/Header/VideoSection.scss";
@import "../components/Header/HamburgerButton.scss";
@import "../components/VideoModal.scss";
@import "../components/Footer/Footer.scss";
@import "../elements/Icon.scss";
@import "../elements/Radio.scss";
@import "../components/Slider/Slider.scss";
@import "../components/HeaderSection/HeaderSection.scss";
@import "../components/Breadcrumb/Breadcrumb.scss";
@import "../components/Tags/Tags.scss";
@import "../components/Tooltip/Tooltip.scss";
@import "../components/Checkbox/Checkbox.scss";
@import "../components/CheckboxWithMinus/CheckboxWithMinus.scss";
@import "../components/Loader/RippleLoader.scss";

@import "../components/Button/_base/index.scss";
@import "../components/Button/Button.scss";
@import "../components/Button/PrimaryButton.scss";
@import "../components/Button/SecondaryGrayButton.scss";
@import "../components/Button/LinkGrayButton.scss";
@import "../components/Button/LinkColorButton.scss";
@import "../components/Progress/Progress.scss";
@import "../components/IconButton/IconButton.scss";
@import "../components/Alert/AlertInfo.scss";
@import "../components/Switch/Switch.scss";

@import "../components/NftImageWithExpand.scss";
@import "../components/NftNickname.scss";
@import "../components/NftSiblingsAndStage.scss";
@import "../components/LikeAndShare.scss";
@import "../components/NftCard/NftCard.scss";
@import "../components/NftCardWithBlurEffect/NftCardWithBlurEffect.scss";
@import "../components/NftOwner.scss";
@import "../components/Skeleton.scss";
@import "../components/Listbox/Listbox.scss";

@import "../components/Modal/Modal.scss";
@import "../components/ShareButtonGroup/ShareButtonGroup.scss";
@import "../components/ShareNft/ShareNft.scss";

@import "../components/ConnectWallet/ConnectWallet.scss";
@import "../components/ConnectWallet/ConnectedDropdown.scss";

@import "../components/PageLoader/PageLoader.scss";
@import "../components/Toast/Toast.scss";
@import "../components/EvmError/EvmErrorModal.scss";

@import "../components/InputWithIcon/InputWithIcon.scss";

@import "../layouts/BaseLayout.scss";

//Pages
@import "../pages/index.scss";
@import "../pages/marketplace/index.scss";
@import "../pages/404.scss";
@import "../views/NftDetails.scss";
@import "../views/MintNft.scss";
@import "../views/mint-nft/MintingLevels.scss";
@import "../views/mint-nft/Summary.scss";
@import "../views/mint-nft/MintSuccessModal.scss";
@import "../views/merkle-proof/MerkleProofView.scss";
@import "../views/my-persona/MyPersona.scss";
@import "../views/mint-nft/MarketplacePopup.scss";
@import "../views/MyCollection.scss";
@import "../views/bridge/TransactionHistory.scss";
@import "../views/bridge/TransactionReceipt.scss";
@import "../views/bridge/modals/ImportNFT.scss";
@import "../views/bridge/modals/NFTDetails.scss";
@import "../views/bridge/modals/BridgingResults.scss";