@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.blur.effect.character.details {
  width: 238px;
  position: relative;

  img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 16px;
  }

  .overlay {
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    text-align: center;
    backdrop-filter: blur(42px);
    border-radius: 16px;
    opacity: 0;
    color: colors.$white;
    transition: all 0.2s;
    @include styles.text-md;
    @include weights.semibold;

    .supporting.text {
      color: colors.$gray-25;
      @include styles.text-sm;
      @include weights.regular;
    }
  }

  &:hover .overlay {
    opacity: 1;
    background-color: colors.$black-opacity-5;
  }
}