@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.nft.minting.summary {
  margin-top: -193px;
  border: 1px solid colors.$gray-300;
  border-radius: 12px;

  @media (max-width: 1024px) {
    margin-top: 0;
  }

  .title {
    padding: 20px 24px;
    @include styles.display-xs;
    @include weights.bold;
    text-align: center;

    @media (max-width: 1024px) {
      @include styles.text-lg;
      text-align: left;
    }
  }

  .summary.table {
    @media (max-width: 1023px) {
      overflow-x: auto;
    }

    .row {
      display: grid;
      grid-template-columns: 120px 1fr 223px 223px;
      padding-right: 0;
      border-top: 1px solid colors.$gray-200;
      @include styles.text-md;
      @include weights.semibold;

      @media (max-width: 1023px) {
        grid-template-columns: 120px 350px 180px 180px;
        border-top: none;
      }

      & > div {
        padding: 24px;

        @media (max-width: 1023px) {
          border-top: 1px solid colors.$gray-200;
        }
      }

      .tag {
        @include styles.text-sm;
        @include weights.bold;
      }

      &.header {
        & > div {
          padding: 10px 24px;
        }
      }

      .value {
        @include weights.regular;
      }
    }
  }
}

.dark .nft.minting.summary {
  border-color: colors.$gray-800;

  .summary.table {
    .row {
      border-color: colors.$gray-800;

      & > div {
        @media (max-width: 767px) {
          border-color: colors.$gray-800;
        }
      }

      .value {
        @include weights.regular;
      }
    }
  }
}
