@use "../design-system/utils";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.home.page {
  @include utils.full-width-container;

  section {
    padding: 96px 0;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 368px 1fr;
    gap: 24px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  .nft.showcase {
    h2 {
      @include styles.display-xs;
      @include weights.bold;
      margin-bottom: 20px;
    }

    .content {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 438px;
      gap: 32px;

      @media (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
      }
    }
  }
}
