@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.mint.nft.page {
  @include utils.full-width-container;

  .breadcrumb.and.connect.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 56px;

    @media (max-width: 767px) {
      gap: 24px;
      padding-top: 24px;
    }
  }

  .content.inset {
    margin: 58px 78px;

    @media (max-width: 767px) {
      margin: 16px 0 32px;
    }
  }

  &.only.minting.level {
    .content.inset {
      margin-top: 0;
    }
  }

  .hero {
    border: 1px solid colors.$gray-300;
    padding: 32px;
    border-radius: 24px;

    @media (max-width: 767px) {
      padding: 24px;
    }

    .formatted.nickname {
      margin-top: 8px;
    }
    .character.name {
      @include styles.display-sm;
      @include weights.semibold;
      margin-top: 32px;
      margin-bottom: 16px;

      @media (max-width: 767px) {
        margin-top: 16px;
        @include styles.display-xs;
      }
    }

    .siblings.and.stage {
      margin-bottom: 40px;

      @media (max-width: 767px) {
        margin: 0 0 24px;
      }
    }

    .image.and.milestones {
      display: grid;
      grid-template-columns: 280px 1fr;
      gap: 35px;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        position: relative;
      }

      .button {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 8px;

        @media (max-width: 767px) {
          margin-top: 24px;
        }
      }

      .supporting.text {
        @include styles.text-sm;
        color: colors.$gray-600;
        text-align: center;
      }

      .image.expand.wrapper {
        @media (max-width: 767px) {
          padding: 0 0 60px;
        }
      }

      .milestones {
        padding: 4px 0;

        @media (max-width: 767px) {
          padding: 0;
        }

        h3 {
          @include styles.text-lg;
          @include weights.semibold;
          margin-bottom: 16px;
        }

        .progress.info {
          margin-bottom: 24px;

          @media (max-width: 767px) {
            &:nth-of-type(2) {
              margin: 0;
            }
          }

          .title {
            @include styles.text-sm;
            margin-bottom: 8px;
          }

          .remaining {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            @include styles.text-sm;
            @include weights.semibold;
            color: colors.$indigo-600;

            svg {
              color: colors.$gray-400;
            }

            .info {
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }
        }

        .like.and.share {
          padding-top: 16px;
          border-top: 1px solid colors.$gray-300;

          @media (max-width: 767px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .explore.minting.collection {
    margin-bottom: 96px;
    h3 {
      @include styles.display-sm;
      @include weights.bold;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        @include styles.text-lg;
        @include weights.semibold;
      }
    }

    .nft.characters {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, calc(20% - 1px)));
      gap: 12.8px;

      @media (max-width: 767px) {
        grid-template-columns: repeat(6, minmax(40%, 1fr));
        overflow-x: auto;
      }

      .blur.effect.character.details {
        width: 100%;
      }
    }
  }
}

.dark .mint.nft.page {
  .hero {
    border-color: colors.$gray-800;
    .image.and.milestones {
      .supporting.text {
        color: colors.$gray-200;
      }

      .milestones {
        .progress.info {
          .remaining {
            color: colors.$primary-300;
          }
        }
        .like.and.share {
          border-color: colors.$gray-800;
        }
      }
    }
  }
}
