@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.mint.nft.page {
  @include utils.full-width-container;

  .merkle.proof.link {
    margin-top: 16px;
    @include styles.text-md;
    @include weights.semibold;
    text-align: right;

    a {
      color: colors.$gray-400;
    }
  }

  .breadcrumb.and.connect.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 56px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-wrap: nowrap;
    }

    @media (max-width: 767px) {
      gap: 24px;
      padding-top: 24px;
    }

    .ui.primary.button {
      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  .content.inset {
    margin-top: 58px;
    margin-bottom: 96px;

    &[data-connect="false"] {
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        z-index: 99;
      }
    }

    @media (max-width: 1024px) {
      margin-top: 32px;
    }

    @media (max-width: 767px) {
      margin: 16px 0 32px;
    }
  }

  &.only.minting.level {
    .content.inset {
      margin-top: 0;
    }
  }

  .hero {
    border: 1px solid colors.$gray-300;
    padding: 32px;
    border-radius: 24px;

    @media (max-width: 767px) {
      padding: 24px;
    }

    @media (max-width: 280px) {
      padding: 16px;
    }

    .formatted.nickname {
      margin-top: 8px;

      @media (max-width: 1024px) {
        margin-top: 0px;
      }
    }

    .character.name {
      @include styles.display-sm;
      @include weights.semibold;
      margin-top: 32px;
      margin-bottom: 16px;

      @media (max-width: 1024px) {
        margin-top: 16px;
        @include styles.display-xs;
      }
    }

    .siblings.and.stage {
      margin-bottom: 40px;

      @media (max-width: 767px) {
        margin: 0 0 24px;
      }
    }

    .image.and.milestones {
      display: grid;
      grid-template-columns: 400px 1fr;
      gap: 35px;
      align-items: center;

      @media (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: 266px 1fr;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        position: relative;
      }

      .tooltip.assist {
        margin-top: 32px;
        margin-bottom: 8px;
        display: inline-flex;

        .button {
          width: 260px;

          @media (max-width: 767px) {
            margin-top: 24px;
          }
        }
      }

      .supporting.text {
        @include styles.text-sm;
        color: colors.$gray-600;
        margin-bottom: 24px;
      }

      .image.expand.wrapper {
        @media (max-width: 767px) {
          padding: 0 0 60px;
        }
      }

      .milestones {
        padding: 4px 0;

        @media (max-width: 767px) {
          padding: 0;
        }

        h3 {
          @include styles.text-lg;
          @include weights.semibold;
          margin-bottom: 16px;

          span {
            color: colors.$indigo-600;
          }
        }

        .progress.bar {
          margin-bottom: 8px;
        }

        .next.level.requirements {
          display: flex;
          @include styles.text-sm;
          @include weights.semibold;
          color: colors.$indigo-600;
          margin-bottom: 16px;
          align-items: center;
          gap: 6px;

          svg {
            color: colors.$gray-400;
          }
        }

        .label.and.value {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 4px;
          margin-bottom: 8px;
          @include styles.text-sm;
          @include weights.regular;

          .value {
            @include weights.semibold;
          }
        }

        .progress.info {
          margin-bottom: 24px;

          @media (max-width: 767px) {
            &:nth-of-type(2) {
              margin: 0;
            }
          }

          .title {
            @include styles.text-sm;
            margin-bottom: 8px;
          }

          .remaining {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            @include styles.text-sm;
            @include weights.semibold;
            color: colors.$indigo-600;

            svg {
              color: colors.$gray-400;
            }

            .info {
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }
        }

        .like.and.share {
          padding-top: 16px;
          border-top: 1px solid colors.$gray-300;

          @media (max-width: 767px) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .explore.minting.collection {
    margin-top: 58px;
    h3 {
      @include styles.display-sm;
      @include weights.bold;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        @include styles.text-lg;
        @include weights.semibold;
      }
    }

    @media (max-width: 280px) {
      margin-bottom: 32px;
    }

    .nft.characters {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, calc(20% - 1px)));
      gap: 12.8px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(6, minmax(25%, 1fr));
        overflow-x: auto;
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(6, minmax(40%, 1fr));
      }

      @media (max-width: 280px) {
        grid-template-columns: repeat(6, minmax(47%, 1fr));
      }

      .blur.effect.character.details {
        width: 100%;
      }
    }
  }
}

.info.box {
  position: fixed;
  bottom: 38px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  z-index: 999;

  @media (max-width: 767px) {
    bottom: 16px;
  }
}

.dark .mint.nft.page {
  .hero {
    border-color: colors.$gray-800;
    .image.and.milestones {
      .supporting.text {
        color: colors.$gray-200;
      }

      .milestones {
        h3 {
          span {
            color: colors.$indigo-300;
          }
        }

        .next.level.requirements {
          color: colors.$indigo-300;
        }

        .like.and.share {
          border-color: colors.$gray-800;
        }
      }
    }
  }
}
