@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.nft.details.page {
  @include utils.full-width-container;

  section {
    padding: 96px 0;
    padding-top: 56px;

    @media (max-width: 767px) {
      padding-top: 24px;
    }
  }

  .breadcrumb.and.connect.wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    > ol {
      margin: 0;
    }

    @media (max-width: 767px) {
      gap: 24px;
    }

    @media (max-width: 575px) {
      .ui.primary.button {
        width: 100%;
      }
    }
  }

  .content.grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 464px;
    grid-template-rows: auto;
    grid-column-gap: 32px;
    grid-row-gap: 24px;

    @media (max-width: 767px) {
      margin-top: 16px;
      grid-row-gap: 16px;
      display: flex;
      flex-direction: column;
    }

    .mint {
      border-radius: 24px;
      padding: 32px;
      border: 1px solid colors.$gray-300;

      .formatted.nickname {
        margin-top: 8px;

        @media (max-width: 767px) {
          margin-top: 0;
        }
      }

      .character.name {
        margin-top: 32px;
        @include styles.display-sm;
        @include weights.semibold;

        @media (max-width: 767px) {
          margin-top: 16px;
          @include styles.display-xs;
        }
      }

      .siblings.and.stage {
        margin-top: 32px;
        margin-bottom: 56px;

        .tags.container {
          .tag {
            @include weights.medium;
          }
        }

        @media (max-width: 767px) {
          margin: 16px 0 24px;
        }
      }

      .minting.btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 56px;

        & > div {
          width: 100%;
          text-align: center;
        }

        button.ui.primary.button {
          width: 100%;
        }

        & > div:last-of-type {
          margin-top: 8px;
          color: colors.$gray-600;
          @include styles.text-sm;
        }

        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
      }

      .like.and.share {
        padding-top: 32px;
        border-top: 1px solid colors.$gray-300;
      }

      @media (max-width: 767px) {
        padding: 24px;
      }
    }

    .more.details {
      h3 {
        @include styles.display-xs;
        @include weights.bold;

        @media (max-width: 767px) {
          @include styles.text-lg;
          @include weights.semibold;
        }
      }

      .description {
        h3 {
          margin-bottom: 5px;
        }

        .text {
          @include styles.text-xl;
          padding: 8px 0;
          color: colors.$gray-700;

          @media (max-width: 767px) {
            @include styles.text-md;
          }
        }
      }
    }
  }

  .properties,
  .activities,
  .nft.links {
    margin-top: 24px;
  }

  .nft.links {
    .links.content {
      border: 1px solid colors.$gray-300;
      border-radius: 12px;
      margin-top: 16px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 26px;
      @include styles.text-md;
      @include weights.semibold;

      & > a {
        all: unset;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          height: 20px;
        }
      }
    }
  }

  .table {
    border: 1px solid colors.$gray-300;
    border-radius: 12px;
    margin-top: 16px;

    .row {
      display: flex;
      align-items: center;
      padding: 24px 0;
      border-bottom: 1px solid colors.$gray-200;
      @include styles.text-md;
      @include weights.semibold;
      color: colors.$gray-600;

      &:last-child {
        border-bottom: none;
      }

      &.header {
        padding: 10px 0;

        .value {
          @include weights.semibold;
          color: colors.$gray-600;
        }
      }

      .type {
        padding: 0 24px;
        width: 141px;

        &.timestamp {
          width: 155px;
        }
      }

      .value {
        @include weights.regular;
        color: colors.$gray-900;
        padding: 0 24px;
        flex: 1;

        .action {
          display: inline;
          @include weights.semibold;

          @media (max-width: 767px) {
            display: block;
          }
        }
      }

      @media (max-width: 767px) {
        padding: 16px 0;
      }
    }
  }

  .nfts.you.may.like {
    margin-top: 64px;

    h3 {
      @include styles.display-xs;
      @include weights.bold;
      margin-bottom: 24px;

      @media (max-width: 767px) {
        @include styles.text-lg;
        @include weights.semibold;
      }
    }

    .nft.characters {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, calc(20% - 1px)));
      gap: 12.8px;

      @media (max-width: 767px) {
        grid-template-columns: repeat(6, minmax(40%, 1fr));
        overflow-x: auto;
      }

      .blur.effect.character.details {
        width: 100%;
      }
    }

    @media (max-width: 767px) {
      margin-top: 32px;
    }
  }
}

.dark .nft.details.page {
  .content.grid {
    .mint {
      border-color: colors.$gray-800;

      .minting.btn {
        & > div:last-of-type {
          color: colors.$gray-200;
        }
      }

      .like.and.share {
        border-color: colors.$gray-800;
      }
    }

    .more.details {
      .description {
        .text {
          color: colors.$gray-200;
        }
      }
    }
  }

  .nft.links {
    .links.content {
      border-color: colors.$gray-800;
    }
  }

  .table {
    border-color: colors.$gray-800;

    .row {
      border-bottom-color: colors.$gray-800;
      color: colors.$gray-200;

      .value {
        color: colors.$base-white;
      }
    }
  }
}
