@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/shadows";

.nav.section.container {
  h4.title {
    color: colors.$primary-600;

    @include styles.text-sm;
    @include weights.semibold;

    @media (max-width: 1023px) {
      padding: 0 16px;
    }
  }

  .content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .content .item.container {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 16px;
    border-radius: 8px;
    color: colors.$primary-600;

    &:hover {
      background-color: colors.$primary-600;

      h3,
      svg {
        color: white !important;
      }

      p {
        color: colors.$gray-50;
      }
    }

    svg {
      flex-shrink: 0;
      color: colors.$primary-600;
    }

    .title {
      color: light.$color;
      display: flex;
      align-items: center;

      @include styles.text-md;
      @include weights.semibold;

      svg {
        margin-left: 10px;
      }

      @media (max-width: 1023px) {
        gap: 16px;

        svg {
          margin-left: 0px;
          width: 18px;
          height: 18px;
        }
      }
    }

    .description {
      margin-top: 4px;
      color: light.$secondary-color;

      @include styles.text-sm;
      @include weights.regular;

      @media (max-width: 1023px) {
        display: none;
      }
    }

    .badge {
      @include styles.text-sm;
      @include weights.medium;
      color: colors.$blue-dark-700;
      background: colors.$blue-dark-50;
      padding: 2px 10px;
      border-radius: 16px;
      margin-left: 8px;

      @media (max-width: 1023px) {
        background: colors.$blue-dark-100;
        margin-left: 0px;
      }
    }

    @media (max-width: 1023px) {
      padding: 12px 16px;
      border-radius: 0px;

      & > i > svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.dark .nav.section.container {
  .title {
    color: colors.$primary-300;
  }

  .content .item.container {
    color: colors.$primary-300;

    svg {
      color: colors.$primary-300;
    }

    .title {
      color: dark.$color;
    }

    .description {
      color: dark.$secondary-color;
    }

    .badge {
      color: colors.$blue-dark-50;
      background: colors.$blue-dark-700;

      @media (max-width: 1023px) {
        color: colors.$blue-dark-300;
        background: colors.$gray-700;
      }
    }
  }
}
