@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/shadows";

.theme.selector.label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &>span {
    @include utils.sr-only;
  }

  input {
    opacity: 0;
    position: absolute;

    &:checked+.switch {
      background: colors.$primary-600;
      justify-content: flex-start;

      &:before {
        left: calc(100% - 2px);
        transform: translate(-100%, -50%);
      }

      i#SunFilled {
        display: inherit;
      }

      i#MoonStarFilled {
        display: none;
      }
    }
  }

  .switch {
    position: relative;
    width: 43px;
    height: 20px;
    background: colors.$gray-700;
    border-radius: 32px;
    padding: 2px 4px;
    transition: 300ms all;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::before {
      transition: 300ms all;
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      top: 50%;
      left: 2px;
      background: white;
      transform: translate(0, -50%);
      box-shadow: shadows.$sm;
    }

    svg {
      width: 14px;
      aspect-ratio: 1 / 1;
      color: colors.$white;
    }

    i#SunFilled {
      display: none;
    }

    i#MoonStarFilled {
      display: inherit;
    }
  }
}