@use "../design-system/colors";
@use "../design-system/typography/styles";

.like.and.share {
  display: flex;
  gap: 16px;
  align-items: center;
  color: colors.$gray-700;

  & > button {
    display: flex;
    align-items: center;
    gap: 4px;
    outline-offset: 4px;
    cursor: pointer;
    @include styles.text-sm;

    &.liked {
      .heart_svg__icon {
        path {
          fill: colors.$primary-600;
          stroke: colors.$primary-600;
        }
      }
    }
  }
}

.dark .like.and.share {
  color: colors.$gray-200;
}
