@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/shadows";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";

.nft.card.container {
  display: block;
  text-align: left;
  width: 266px;
  border-radius: 16px;
  overflow: hidden;

  border: 1px solid colors.$gray-200;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  transition: transform 0.5s;
  
  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    box-shadow: shadows.$xl;
  }

  .image.container {
    height: 240px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 500ms;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
  }

  h3 {
    color: light.$color;

    @include styles.text-md;
    @include weights.semibold;
  }

  .info.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    @include styles.text-sm;
    @include weights.regular;
    color: light.$secondary-color;
  }

  .insights {
    display: flex;
    gap: 16px;
  }

  .nft.insight {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      height: 16px;
      width: 16px;
    }
  }
}

.dark .nft.card.container {
  border: 1px solid colors.$gray-true-600;
  background-color: colors.$gray-true-800;

  h3 {
    color: dark.$color;
  }

  .info.container {
    color: colors.$gray-true-200;
  }
}