@use '../_colors';

$name: 'dark';
$is-lightmode: false;
$color-scheme: dark;
$primary-background-color: #171717;
$color: colors.$white;
$secondary-color: colors.$gray-25;
$tertiary-color: colors.$gray-300;