@use '../colors';

$name: 'light';
$is-lightmode: true;
$color-scheme: light;
$primary-background-color: colors.$white;
$color: colors.$gray-900;
$secondary-color: colors.$gray-600;
$tertiary-color: colors.$gray-600;