@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";

.home.hero.container {
  .ui.basic.hero.section {
    background: transparent;

    & > .container {
      .content {
        max-width: unset;
        gap: 32px;

        .heading.and.supporting.text {
          gap: 12px;
          .heading.and.subheading .heading:not(.sub) {
            @include styles.display-xl;
            @include weights.bold;
          }
        }
      }
    }
  }

  .intro {
    max-width: 768px;
    margin: auto;
  }

  .full.width.container {
    padding: 56px 32px 96px;
    padding-bottom: 0;

    @media (max-width: 767px) {
      padding: 46px 16px 64px;
    }
    > .content {
      gap: 48px;
      @media (max-width: 767px) {
        gap: 32px;
      }
    }
  }

  .image.container {
    margin-top: 12px;

    @media (max-width: 767px) {
      img {
        min-height: 320px;
        object-fit: cover;
      }
    }
  }
}

.dark .home.hero.container {
  .titles.container {
    .title {
      color: colors.$base-white;
    }

    .intro {
      color: colors.$gray-25;
    }

    .buttons.container {
      .view {
        color: colors.$base-white;
      }
    }
  }
}
