.hero.image {
  position: relative;
  height: 523px;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 240px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 559.7px;
    height: 521.83px;
    left: 307px;
    bottom: -146px;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(67.935px);
    z-index: 1;

    @media (max-width: 767px) {
      width: 308px;
      height: 217px;
      bottom: -44px;
      left: 50%;
      margin-left: -186px;
    }
  }

  img {
    position: absolute;
    object-fit: contain;
    object-position: center top;
    bottom: 0;

    &:nth-of-type(1) {
      width: 563px;
      height: 324px;
      left: 20px;

      @media (max-width: 767px) {
        width: 260px;
        height: 150px;
        left: 50%;
        margin-left: -274px;
      }
    }
    &:nth-of-type(2) {
      position: absolute;
      left: 206px;
      width: 658px;
      height: 523px;
      z-index: 2;

      @media (max-width: 767px) {
        width: 303px;
        height: 241px;
        left: 50%;
        margin-left: -187px;
      }
    }

    &:nth-of-type(3) {
      position: absolute;
      right: 6px;
      width: 524px;
      height: 405px;

      @media (max-width: 767px) {
        width: 241px;
        height: 186px;
        right: 50%;
        margin-right: -278px;
      }
    }
  }

  svg {
    height: 471.83px;
    width: 669.7px;
    position: absolute;
    z-index: 1;
    top: 149px;
    left: 203px;
  }
}

.dark .hero.image {
  &::before {
    background: #000000;
  }
}
