.hero.image {
  img {
    display: block;

    @media (max-width: 575px) {
      max-width: 600px;
      position: relative;
      left: 50%;
      margin-left: -300px;
    }

    @media (max-width: 320px) {
      max-width: 510px;
      margin-left: -255px;
    }
  }
}

.dark .hero.image {
  &::before {
    background: #000000;
  }
}
