@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";

.home.page .home.persona {
  .progress.and.persona {
    display: grid;
    grid-template-columns: minmax(328px, 1fr) 385px;
    gap: 32px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .progress.details {
      padding: 32px;
      background-color: colors.$base-white;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      .connector {
        display: flex;
        align-items: center;
        gap: 8px;
        @include styles.text-sm;
        margin-bottom: 16px;

        .icon {
          padding: 4px;
          background-color: colors.$gray-200;
          border-radius: 50%;
        }
      }

      .progress.description {
        background-color: colors.$gray-50;
        padding: 72.5px 16px;
        border-radius: 12px;
        @include styles.text-md;
        text-align: center;
        color: colors.$gray-500;

        svg {
          color: colors.$gray-400;
          height: 16px;
          width: 16px;
        }
      }

      .milestones {
        margin: -48.5px 0;
        text-align: left;

        .level {
          display: flex;
          gap: 4px;
          align-items: center;
          margin-bottom: 10px;
        }

        h3 {
          @include styles.text-md;
          @include weights.semibold;
          margin-bottom: 8px;
        }

        .progress.bar {
          height: 8px;
          margin-bottom: 8px;
        }

        .next.level.requirements {
          @include styles.text-sm;
          align-items: center;
          color: colors.$gray-800;
          margin-bottom: 32px;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 4px;
          @include styles.text-sm;

          .label.and.value {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;
          }

          .label {
            @include weights.regular;
            color: colors.$gray-500;
          }

          .value {
            color: colors.$gray-800;
            @include weights.semibold;
          }
        }
      }

      .title {
        @include styles.text-xl;
        @include weights.semibold;
        margin-bottom: 16px;
      }
    }

    .persona.details {
      position: relative;
      min-height: 470px;

      .section {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 32px;
        color: colors.$base-white;

        a > button {
          width: 100%;
          background-color: colors.$primary-50;
          color: colors.$primary-700;

          &:hover {
            background-color: colors.$primary-25 !important;
            color: colors.$primary-700 !important;
          }
        }

        .title {
          @include styles.text-lg;
          @include weights.semibold;
        }

        .description {
          margin-top: 8px;
          @include styles.text-md;
        }

        .user.persona {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          .lock.icon {
            background-color: colors.$primary-600;
            color: colors.$base-white;
          }

          & > div {
            width: 156.5px;
            background-color: #161140;
            padding: 10px;
            border-radius: 12px;
          }

          .selection {
            background-color: #393c73;
            width: 100%;
            border-radius: 8px;
            @include styles.text-sm;
            @include weights.semibold;
            text-align: center;
            padding: 10px 16px;
            margin-top: 16px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;

        background: url("/assets/images/persona/persona-bg.jpg") no-repeat
          center top;
        background-size: 100% 100%;
      }
    }
  }

  .next.nft {
    background-color: colors.$base-white;
    margin-top: 32px;
    border-radius: 16px;
    padding: 32px;

    @media (max-width: 767px) {
      display: none;
    }

    &.mobile {
      display: none;
      padding: 0;
      margin-top: 8px;

      @media (max-width: 767px) {
        display: block;
      }
    }

    .mobile.link {
      display: none;
      text-align: center;
      @include styles.text-sm;
      @include weights.semibold;
      margin-top: 8px;

      a {
        color: colors.$primary-600;
      }

      @media (max-width: 767px) {
        display: block;
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      @include styles.text-sm;
      @include weights.semibold;

      @media (max-width: 767px) {
        @include styles.text-lg;
        @include weights.semibold;

        & > div:last-child {
          display: none;
        }
      }

      a {
        color: colors.$primary-600;
      }
    }

    .description {
      min-height: 210px;
      background-color: colors.$gray-200;
      border-radius: 12px;
      position: relative;
      margin-top: 16px;

      .text {
        position: absolute;
        z-index: 1000;
        text-align: center;
        color: colors.$gray-500;
        @include styles.text-md;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &.minted .text {
        top: 142.5px;
        transform: unset;
        color: colors.$base-white;
      }

      .thumbnail {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 142px;
        width: 142px;
        margin: 0 auto;
        transform: translateY(33.5px);

        @media (max-width: 767px) {
          width: 100px;
          height: 100px;
        }

        img {
          border-radius: 12px;
        }

        .badges {
          position: absolute;
          top: 8px;
          right: 8px;
          display: flex;
          align-items: center;
          gap: 6px;

          .badge {
            background-color: colors.$gray-700;
            color: colors.$base-white;
            padding: 4px;
            border-radius: 16px;

            &.text {
              padding: 2px 8px;
              @include styles.text-xs;
              @include weights.medium;
            }

            svg {
              height: 12px;
              width: 12px;
            }
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;

        background: url("/assets/images/404/nft_error_bg.webp") no-repeat center
          top;
        background-size: cover;
      }

      &.minted::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;

        background: url("/assets/images/home/completed-minting.webp") no-repeat
          center top;
        background-size: cover;
      }
    }
  }
}

.dark .home.page .home.persona {
  .progress.and.persona {
    .progress.details {
      background-color: colors.$black-800;

      .connector {
        .icon {
          background-color: colors.$gray-800;
        }
      }

      .progress.description {
        background-color: colors.$gray-800;
        color: colors.$base-white;
      }

      .milestones {
        .next.level.requirements {
          color: colors.$base-white;
        }

        .info {
          .label {
            color: colors.$gray-200;
          }

          .value {
            color: colors.$gray-200;
          }
        }
      }
    }
  }

  .next.nft {
    background-color: colors.$black-800;

    .mobile.link {
      a {
        color: colors.$primary-400;
      }
    }

    .title {
      a {
        color: colors.$primary-400;
      }
    }

    .description {
      background-color: #0b0b0b;

      .text {
        color: colors.$gray-25;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: url("/assets/images/404/nft_error_bg_dark.webp") no-repeat
          center top;
        background-size: cover;
        opacity: 0.1;
      }
    }
  }
}
