@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/colors";
@use "../../design-system/blurs";

.most.viewed.nfts {
  padding: 32px;
  border: 1px solid colors.$gray-200;
  background-color: colors.$base-white;
  border-radius: 16px;

  @media (max-width: 280px) {
    padding: 16px;
  }

  h3 {
    @include styles.text-lg;
    margin-bottom: 24px;

    @media (max-width: 280px) {
      text-align: center;
    }
  }

  a {
    .character.details {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 18px;
      align-items: center;
      margin-bottom: 25.5px;
      padding-bottom: 25.5px;
      border-bottom: 1px solid colors.$gray-200;

      @media (max-width: 280px) {
        align-items: flex-start;
      }

      img {
        width: 72px;
        height: 72px;
        border-radius: 50%;

        @media (max-width: 280px) {
          width: 44px;
          height: 44px;
        }
      }

      .character.name {
        @include weights.semibold;
        @include styles.text-md;
        margin-bottom: 5px;
        color: colors.$gray-900;
      }

      .character.description {
        @include styles.text-sm;
        margin-bottom: 5px;
        color: colors.$gray-900;
      }

      .character.viewed {
        @include styles.text-xs;
        color: colors.$gray-600;
      }
    }

    &:last-of-type {
      .character.details {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

.dark .most.viewed.nfts {
  border: none;
  background-color: colors.$black-800;

  .character.details {
    border-color: colors.$gray-800;

    .character.name,
    .character.description {
      color: colors.$base-white;
    }

    .character.viewed {
      color: colors.$gray-400;
    }
  }
}
