@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/colors";
@use "../../design-system/blurs";

.premium.nfts {
  margin-bottom: 24px;

  .slider.container {
    padding: 0;

    .arrows {
      justify-content: flex-end;
      gap: 12px;
      margin-top: 24px;

      button {
        width: 36px;
        height: 36px;
        backdrop-filter: blurs.$sm;

        background-color: colors.$black-900;
        color: colors.$white;
        border: none;

        &:not(:disabled):not([data-disabled]):hover {
          background-color: colors.$gray-800;
          color: colors.$white;
        }

        &:disabled,
        &[data-disabled] {
          cursor: not-allowed;
          opacity: 50%;
        }
      }
    }
  }
}