@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/colors";
@use "../../design-system/blurs";

.regular.nfts {
  .character.details {
    width: 136px;
    position: relative;

    img {
      width: 100%;
      height: 130px;
      object-fit: cover;
      border-radius: 16px;
      margin-bottom: 8px;
    }

    .character.name {
      @include styles.text-md;
      @include weights.semibold;
      margin-bottom: 4px;
    }

    .supporting.text {
      color: colors.$gray-600;
      @include styles.text-sm;
      @include weights.regular;
    }
  }

  .slider.container {
    padding: 0;

    .arrows {
      justify-content: flex-end;
      gap: 12px;
      margin-top: 24px;

      button {
        width: 36px;
        height: 36px;
        backdrop-filter: blurs.$sm;

        background-color: rgba(0, 0, 0, 0.9) !important;
        color: colors.$white !important;
        border: none !important;

        &:not(:disabled):not([data-disabled]):hover {
          background-color: colors.$gray-800 !important;
          color: colors.$white !important;
        }

        &:disabled,
        &[data-disabled] {
          cursor: not-allowed;
          opacity: 50%;
        }
      }
    }
  }
}

.dark .regular.nfts {
  .character.details {
    .supporting.text {
      color: colors.$gray-300;
    }
  }
}
